# Project information
site_name: 你好，提示工程
site_url: http://chat.kaisen.me:9000/
site_author: MiniKaisen
site_description: 一本动画图解、能运行、可提问的提示语工程入门书
docs_dir: build
# Repository
repo_name: xiaoasen/hello-prompt
repo_url: https://github.com/xiaoasen/hello-prompt
edit_uri: https://github.com/xiaoasen/hello-prompt/tree/main/docs

# Copyright
copyright: Copyright &copy; 2023 MiniKaisen

# Configuration
theme:
  name: material
  custom_dir: build/overrides
  language: zh
  features:
    # - announce.dismiss
    - content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: white
      # accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      # primary: grey
      # accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: Noto Sans SC
    code: Fira Code
  #favicon: assets/images/favicon.png
  #logo: assets/images/logo.png
  icon:
    logo: logo
    repo: fontawesome/brands/github
    edit: material/file-edit-outline

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xiaoasen
  generator: false

# Plugins
plugins:
  - search

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:materialx.emoji.twemoji
  #     emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.keys
   # - pymdownx.magiclink:
  #     repo_url_shorthand: true
  #     user: squidfunk
  #     repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - stylesheets/extra.css

# Page tree
nav:
  - 1. &nbsp; &nbsp; 基础:
    - basics/index.md
    - 1.1. &nbsp; 简介: basics/intro.md
    - 1.2. &nbsp; 提示过程: basics/prompting.md
    - 1.3. &nbsp; 给出指令: basics/instructions.md
    - 1.4. &nbsp; 角色提示: basics/roles.md
    - 1.5. &nbsp; 多范例提示: basics/few_shot.md
    - 1.6. &nbsp; 组合提示: basics/combining_techniques.md
    - 1.7. &nbsp; 规范化提示: basics/formalizing.md
    - 1.8. &nbsp; 聊天机器人基础: basics/chatbot_basics.md
    - 1.9. &nbsp; 大语言模型(LLMs)中的隐患: basics/pitfalls.md
    - 1.10. &nbsp; LLM 设置: basics/configuration_hyperparameters.md
    - 1.11. &nbsp; 理解人工智能思维: basics/world.md
    - 1.12. &nbsp; 开始你的旅程: basics/starting_your_journey.md
  - 2. &nbsp; &nbsp; 基础应用:
    - basic_applications/index.md
    - 2.1. &nbsp; 介绍: basic_applications/introduction.md
    - 2.2. &nbsp; 数据结构化: basic_applications/table_generation.md
    - 2.3. &nbsp; 写邮件: basic_applications/writing_emails.md
    - 2.4. &nbsp; 博客: basic_applications/blog_generation.md
    - 2.5. &nbsp; 学习工具: basic_applications/study_tool.md
    - 2.6. &nbsp; 代码辅助: basic_applications/coding_assistance.md
    - 2.7. &nbsp; 找到合适Emoji: basic_applications/emojis.md
    - 2.8. &nbsp; 合同: basic_applications/contracts.md
    - 2.9. &nbsp; 不同的书写风格: basic_applications/writing_in_diff_voices.md
    - 2.10. &nbsp; 总结文本: basic_applications/summarize.md
    - 2.11. &nbsp; 电子邮件的Zapier: basic_applications/zapier_for_emails.md
  - 3. &nbsp; &nbsp; 进阶:
    - chapter_intermediate/index.md
    - 3.1. &nbsp; 思维链提示过程: chapter_intermediate/chain_of_thought_prompting.md
    - 3.2. &nbsp; 零样本思维链: chapter_intermediate/zero_shot_chain_of_thought.md
    - 3.3. &nbsp; 自洽性: chapter_intermediate/self_consistency.md
    - 3.4. &nbsp; 知识生成: chapter_intermediate/generated_knowledge.md
    - 3.5. &nbsp; 最少到最多提示过程: chapter_intermediate/least_to_most_prompting.md
    - 3.6. &nbsp; 提示的关键要素: chapter_intermediate/what_is_in_a_prompt.md
  - 4. &nbsp; &nbsp; 提示的应用:
    - chapter_applied_prompting/index.md
    - 4.1. &nbsp; 介绍: chapter_applied_prompting/introduction.md
    - 4.2. &nbsp; 多项选择题: chapter_applied_prompting/multiple_choice_questions.md
    - 4.3. &nbsp; 解答讨论性问题: chapter_applied_prompting/solve_discussion_questions.md
    - 4.4. &nbsp; 用GPT-3构建ChatGPT: chapter_applied_prompting/build_chatgpt_from_gpt3.md
    - 4.5. &nbsp; 聊天机器人 + 知识库: chapter_applied_prompting/chatbot_knowledge_base.md
  - 5. &nbsp; &nbsp; 高级应用:
    - chapter_advanced_applications/index.md
    - 5.1. &nbsp; 概述: chapter_advanced_applications/introduction.md
    - 5.2. &nbsp; LLMS使用工具: chapter_advanced_applications/llms_using_tools.md
    - 5.3. &nbsp; 具有推理和行动能力的LLMS: chapter_advanced_applications/llms_that_reason_and_act.md
    - 5.4. &nbsp; 代码推理: chapter_advanced_applications/code_as_reasoning.md
  - 6. &nbsp; &nbsp; 可靠性:
    - chapter_reliability/index.md
    - 6.1. &nbsp; 介绍: chapter_reliability/introduction.md
    - 6.2. &nbsp; 提示去偏差: chapter_reliability/prompt_debiasing.md
    - 6.3. &nbsp; 提示集成: chapter_reliability/prompt_ensembling.md
    - 6.4. &nbsp; 大语言模型自我评估: chapter_reliability/llm_self_evaluation.md
    - 6.5. &nbsp; 校准大语言模型: chapter_reliability/calibrating_llms.md
    - 6.6. &nbsp; 数学: chapter_reliability/math.md
  - 7. &nbsp; &nbsp; 图片提示词:
    - chapter_image_prompting/index.md
    - 7.1. &nbsp; 介绍: chapter_image_prompting/introduction.md
    - 7.2. &nbsp; 样式修饰符: chapter_image_prompting/style_modifiers.md
    - 7.3. &nbsp; 质量增强器: chapter_image_prompting/quality_boosters.md
    - 7.4. &nbsp; 重复: chapter_image_prompting/repetition.md
    - 7.5. &nbsp; 加权: chapter_image_prompting/weighted_terms.md
    - 7.6. &nbsp; 修复变形生成: chapter_image_prompting/fix_deformed_generations.md
    - 7.7. &nbsp; Midjourney: chapter_image_prompting/midjourney.md
    - 7.8. &nbsp; 资源: chapter_image_prompting/resources.md
  - 8. &nbsp; &nbsp; 破解提示: 
    - chapter_prompt_hacking/index.md
    - 8.1. &nbsp; 介绍: chapter_prompt_hacking/introduction.md
    - 8.2. &nbsp; 提示注入: chapter_prompt_hacking/prompt_injection.md
    - 8.3. &nbsp; 提示泄露: chapter_prompt_hacking/prompt_leaking.md
    - 8.4. &nbsp; 越狱: chapter_prompt_hacking/jailbreaking.md
    - 8.5. &nbsp; 防御措施: chapter_prompt_hacking/defensive_measures.md
    - 8.6. &nbsp; 进攻措施: chapter_prompt_hacking/offensive_measures.md
  - 9. &nbsp; &nbsp; 工具:
    - chapter_tooling/index.md
    - 9.1. &nbsp; 提示工程工具: chapter_tooling/prompt_engineering_tools.md
    - 9.2. &nbsp; 提示工程集成环境: chapter_tooling/prompt_engineering_ides.md
  - 10. &nbsp; &nbsp; 提示微调:
    - chapter_prompt_tuning/index.md
    - 10.1. &nbsp; 软提示: chapter_prompt_tuning/soft_prompts.md
    - 10.2. &nbsp; 可解释的软提示: chapter_prompt_tuning/interpretable_soft_prompts.md
  - 11. &nbsp; &nbsp; 杂项:
    - chapter_miscellaneous/index.md
    - 11.1. &nbsp; 检测AI生成的文本: chapter_miscellaneous/detecting_ai_generated_text.md
    - 11.2. &nbsp; 检测的欺骗: chapter_miscellaneous/detection_trickery.md
    - 11.3. &nbsp; 音乐生成: chapter_miscellaneous/music_generation.md
  - 12. &nbsp; &nbsp; 词汇参考:
    - chapter_vocabulary_reference/index.md
  - 13. &nbsp; &nbsp; 参考文献:
    - chapter_bibliography/index.md
  - 14. &nbsp; &nbsp; 提示产品:
    - chapter_prompted_products/index.md
  - 15. &nbsp; &nbsp; 额外资源:
    - chapter_additional_resources/index.md
  - 16. &nbsp; &nbsp; 一些应用:
    - chapter_credits/index.md
  - 17. &nbsp; &nbsp; 热门主题:
    - chapter_hot_topics/index.md